body{
    font:15px/1.5 Arial, Helvetica, sans-serif,;
    padding:0;
    margin:0;
    background-color:#4a4f59;
    
    
}

/*Global*/
.container{
    width:80%;
    margin:auto;
    overflow:hidden;
}

ul{
    margin:0;
    padding:0;
}

.button_1{
    height:38px;
    background:#c9ddff;
    border:0;
    padding-left:20px;
    padding-right:20px;
    color:#4a4f59;
}

.dark{
    padding:15px;
    background:#4a4f59;
    color:#ffffff;
    margin-top:10px;
    margin-bottom:10px;
}


.box{
    float:left;
    text-align:center;
    width:30%;
    padding:10px;
}

.box h2{
    color:#ffffff;
}

.box h3{
    color:#ffffff;
}

.box p{
    color:#ffffff;
}


/*Header*/
header{
    background:#0d203f;
    color:#ffffff;
    padding-top:30px;
    min-height:70px;
    border-bottom:#0d203f 3px solid;
}

header a{
    color:#ffffff;
    text-decoration:none;
    text-transform:uppercase;
    font-size:16px;
}

header li{
    float:left;
    display:inline;
    padding:0 20px 0 20px;
}


header #branding{
    float:left;
}

header #branding h1{
    margin:0;
}

header nav{
    float:right;
    margin-top:10px;
}
header .highlight, header .current a{
    color:#9b9b9b;
    font-weight:bold;
}

header a:hover{
    color:#d3e4ff;
    font-weight:bold;
}

/*Shpwcase*/
#showcase{
    text-shadow:-1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    min-height:100%;
    max-height:100%;
    background:url("./images/showcase2.png") no-repeat 0  -300px;
    text-align:center;
    float:center;
    color:#ffffff;
}

#showcase h1{
    margin-top:10px;
    font-size:55px;
    margin-bottom:10px;
}
#showcase p{
    font-size:20px;
}

#showcase background{
    background-image:1000%;
}


/*Newsletter*/
#newsletter{
    padding:15px;
    color: #ffffff;
    background:#0d203f;
    border-bottom:#d3e4ff 3px solid;
    border-top:#d3e4ff 3px solid;
}

#newsletter h1{
    float:left;
    font-size:25px;
}

#newsletter form{
    float:right;
    margin-top:15px;
}

#newsletter input[type="email"]{
    padding:4px;
    height:25px;
    width:250px;
}


/*Boxes*/

#boxes{
    margin-top:20px;
}
#boxes .box{
    float:left;
    text-align:center;
    width:30%;
    padding:10px;
}

#boxes .box iframe{
    width:75%;
}

#boxes .box img{
    width:100%;
    
}

#boxes h3{
    color:#ffffff;
}

#boxes .box p{
    color:#ffffff;
}

/*footer*/
footer{
    padding:5px;
    margin-top:20%;
    color:#ffffff;
    background-color:#0d203f;
    border-top:#0d203f 3px solid;
}

/*SIdebar*/
aside#sidebar{
    float:right;
    width:30%;
    margin-top:10px;
}

/*Main-col*/
article#main-col{
    float:left;
    width:65%;
    
}
/*Dropdown*/
.dropbtn {
    background-color: #0d203f;
    padding:0;
    margin:0;
    color:#9b9b9b;
    font:15px/1.5 Arial, Helvetica, sans-serif,;
    border: none;
    cursor: pointer;
}


.dropdown {
    font:15px/1.5 Arial, Helvetica, sans-serif,;
    position:relative;
    display: inline-block;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #0d203f;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font:16px/1.5 Arial, Helvetica, sans-serif,;

}


.dropdown-content a {
    font:16px/1.5 Arial, Helvetica, sans-serif,;
    color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    font:16px/1.5 Arial, Helvetica, sans-serif,;
    color:#d3e4ff;
    font-weight:bold;
}

.dropdown:hover .dropdown-content {
    display: block;
    font:16px/1.5 Arial, Helvetica, sans-serif,;

}


.dropdown:hover .dropbtn {
    color:#d3e4ff;
    font-weight:bold;
    font:16px/1.5 Arial, Helvetica, sans-serif,;

}

/*Fit to Phones*/

@media(max-wdth:768px){
    header #branding,
    header nav,
    header nav li, 
    #newsletter h1,
    #newsletter form
    #boxes .box,
    #main-col,
    #sidebar,
    #dropdown,
    #dropbtn,
    #dropdown-content,
    footer{
        float:none;
        text-align:center;
        width:100%;
    }
    
    header{
        padding-bottom:20px;
    }
        
    }
    #showcase h1{
        margin-top:40px;
    }
    
    #newsletter button, .quote button{
        display:block;
        width:100%;
    }
    
    #newsletter form input[typr='email'],.quote input,quote textarea{
        width:100%;
        margin-bottom:5px;
    }
}
